<div class="cardContainer">
  <p-card>
    <button
      pButton
      class="iconClass p-element p-ripple p-button-rounded p-button-text p-button p-component p-button-icon-only p-button-secondary"
      icon="pi pi-home"
      (click)="redirectToHome()"
    ></button>
    <div class="cardClass">
      <form
        [formGroup]="loginForm"
        name="loginForm"
        (ngSubmit)="login()"
        (keyup)="message = ''"
      >
        <div class="rowContainer">
          <input
            formControlName="username"
            name="username"
            type="username"
            autofocus
            pInputText
            placeholder="Enter your username"
            required
          />
        </div>
        <div class="rowContainer">
          <p-password
            [feedback]="false"
            [required]="true"
            formControlName="password"
            name="password"
            placeholder="Enter your password"
          >
          </p-password>
        </div>
        <div class="actionsButtonsContainer">
          <button
            pButton
            [disabled]="!loginForm.valid"
            label="Submit"
            type="submit"
            class="p-button-outlined p-button-rounded p-button-success"
          ></button>
        </div>
        <span [ngStyle]="{ color: 'var(--red-600)' }">{{ message }}</span>
      </form>
    </div>
  </p-card>
</div>
