<div class="cardContainer">
  <p-card>
    <button
      pButton
      class="iconClass p-element p-ripple p-button-rounded p-button-text p-button p-component p-button-icon-only p-button-secondary"
      icon="pi pi-home"
      (click)="redirectToHome()"
    ></button>
    <div class="cardClass">
      <form
        [formGroup]="registerForm"
        name="registerForm"
        (ngSubmit)="register()"
        (keyup)="errorMsg = ''"
      >
        <div class="rowContainer">
          <input
            formControlName="firstName"
            name="firstName"
            type="text"
            autofocus
            pInputText
            placeholder="Enter your first name"
            required
            ngModel
          />
        </div>
        <div class="rowContainer">
          <input
            formControlName="lastName"
            name="lastName"
            type="text"
            autofocus
            pInputText
            placeholder="Enter your last name"
            required
            ngModel
          />
        </div>
        <div class="rowContainer">
          <input
            formControlName="phone"
            name="phone"
            type="text"
            autofocus
            pInputText
            placeholder="Enter your phone number"
            required
            ngModel
          />
        </div>
        <div class="rowContainer">
          <input
            formControlName="username"
            name="username"
            type="username"
            autofocus
            pInputText
            placeholder="Enter your username"
            required
            ngModel
          />
        </div>
        <div class="rowContainer">
          <p-password
            [feedback]="false"
            [required]="true"
            formControlName="password"
            name="password"
            placeholder="Enter your password"
            ngModel
          >
          </p-password>
        </div>
        <div class="actionsButtonsContainer">
          <button
            pButton
            [disabled]="!registerForm.valid"
            label="Register"
            type="submit"
            class="p-button-outlined p-button-rounded p-button-success"
          ></button>
        </div>
        <span [ngStyle]="{ color: 'var(--red-600)' }">{{ errorMsg }}</span>
      </form>
    </div>
  </p-card>
</div>
