.cardContainer {
  width: 27rem;
  margin: auto;
  .cardClass {
    text-align: center;
    position: relative;
  }
}

.rowContainer {
  margin-top: 10px;
}

.actionsButtonsContainer {
  margin: 10px;
}

html {
  font-family: "Segoe UI";
  font-weight: 700;
}
